.home_cont {
}
.home_cont_quetion_cont {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* search */
.InputContainer {
  margin: 30px 0;
  height: 50px;
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(233, 231, 231);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding: 0 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  background-color: rgb(233, 231, 231);

  caret-color: rgb(255, 81, 0);
}

.labelforsearch {
  cursor: text;
  /* padding: 0px 12px; */
}

.searchIcon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(233, 231, 231);
}

.micIcon {
  width: 12px;
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}

.micIcon path {
  fill: rgb(255, 81, 0);
}

.micButton:hover {
  background-color: rgb(255, 230, 230);
  transition-duration: 0.3s;
}
/* search */
